<input type="hidden" id="hand_id" value="<%= hand.id %>">
<table class="hand_user_list" id="hand_user_list">
  <tr>
    <th>button</th>
    <th>tern</th>
    <th>ハンドユーザー名</th>
    <th>chip</th>
  </tr>
  <% hand.users.each do | hu | %>
    <tr>
      <th><%= hand.button_user.id == hu.id ? "●":"" %></th>
      <th><%= hand.tern_user.id == hu.id ? "●":"" %></th>
      <th><%= hu.name %></th>
      <th><%= hu.chip %></th>
    </tr>
  <% end %>
</table>
