<h1>Chat room <%= @room.name %> </h1><h2 id="user_name">(<%= @user.name %>)</h2>
<input type="hidden" id="room_id" value="<%= @room.id %>" data-behavior="room_speaker">
<input type="hidden" id="user_id" value="<%= @user.id %>" data-behavior="room_speaker">

<input type="button" id="start_hand_button" value="ハンド開始" >

<div id="room_users">
</div>

<div id="hand_users">
</div>

betting_round:
<div id="betting_round">
</div>
<br>
user_hand:
<div id="user_hand">
</div>

<input type="button" id="call_button" value="call" >
<input type="button" id="fold_button" value="fold" >

<p>メッセージ</p>
<div class="text_messages" id="text_messages">
  <table id="text_message_table">
    <%= render @messages %>
  </table>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" id="input_message" value="test3" data-behavior="room_speaker">
  <input type="button" id="send_message" value="送信" >
</form>

<%= javascript_include_tag 'channels/room'  %>
<%= javascript_include_tag 'channels/hand_user'  %>
