<h1>Chat room <%= @room.name %> </h1><h2 id="user_name">(<%= @user.name %>)</h2>
<input type="hidden" id="room_id" value="<%= @room.id %>" data-behavior="room_speaker">
<input type="hidden" id="user_id" value="<%= @user.id %>" data-behavior="room_speaker">

<table class="user_list" id="user_list">
  <tr>
    <th>ユーザー名</th>
    <th></th>
  </tr>
  <% @room_users.each do | room_user | %>
    <% @user = User.find(room_user.user_id) %>
    <tr>
      <th><%= @user.name %></th>
      <th><%= @user.chip %></th>
    </tr>
  <% end %>
</table>

<div id="entered_messages">
</div>
<div id="text_messages">
  <%= render @messages %>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" id="input_message" value="test3" data-behavior="room_speaker">
  <input type="button" id="send_message" value="送信" >
</form>

<%= javascript_include_tag 'channels/room' %>
