<h1>Chat room <%= @room.name %> </h1><h2 id="user_name">(<%= @user.name %>)</h2>
<input type="hidden" id="room_id" value="<%= @room.id %>" data-behavior="room_speaker">
<input type="hidden" id="user_id" value="<%= @user.id %>" data-behavior="room_speaker">

<%= link_to "ハンド開始", {controller:"rooms", action:"start_hand", id:@room.id, user_id: @user.id}, {} %>

<div id="entered_messages">
</div>

<p>メッセージ</p>
<div class="text_messages" id="text_messages">
  <table id="text_message_table">
    <%= render @messages %>
  </table>
</div>

<form>
  <label>Say something:</label><br>
  <input type="text" id="input_message" value="test3" data-behavior="room_speaker">
  <input type="button" id="send_message" value="送信" >
</form>

<%= javascript_include_tag 'channels/room' %>
